nav{
background-color:grey;
margin:2px;
background-color:blue;
}
nav li{
list-style:none;
padding:10px;
float:right;
color:black;
border-style:solid;
border-color:black;
border-width:2px;
margin:2px;
background-color:grey;
}
logo{
font-size:25px;
}
nav ul{
overflow:auto;
text-decoration:none;
}
nav li a{
text-decoration:none;
color:black;
}
p{
color:blue;
font-size:20px;
}
nav li a:hover{
color:green;
}
button{
background-color:grey;
padding:10px 25px;
font-size:15px;  
}
button {
  transition-duration: 0.4s;
}

button:hover {
  background-color:gold;
  color: white;
}
section1 h1{
text-align:center;
 font-size:25px;
}
section2 h1{
text-align:center;
font-size:25px;  
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

section3 h1{
text-align:center;
font-size:25px;  
}
